body {
    font-family: "Lato", sans-serif;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-right: 20px;
    background: #eee;
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
}

#sidebarCollapse.active {
    margin-left: 0px;
}

#content {
    margin-left: 260px;
}

#content.active {
    margin-left: 0px;
}

#sidebar.active {
    margin-left: -250px;
}

/* On smaller screens, where width is less than 768px, change the style of the sidebar */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #content {
        margin-left: 0px;
    }

    #sidebarCollapse {
        margin-left: 260px;
    }
}