@model List<ProductModel>
<div class="product-cards">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="product-cards__wrapper ">
                <div>
                    <img class="product-cards__thumbnail" src="~/Images/@item.ImageName" alt="Img">
                </div>
                <div class="product-cards__name">
                    @item.ProductName
                </div>
                <div class="product-cards__prices">
                    SEK @item.Price
                </div>

                <!-- Button trigger modal -->
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Product info
        </button>*@

                <input type="button" class="btn btn-primary" onclick="GetProductInfo()" value="Delete" />

            </div>
        </div>
    }
</div>
