@model List<ProductModel>
<div class="product-cards">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="product-cards__wrapper ">
                <div >
                    <img class="product-cards__thumbnail" src="~/Images/@item.ImageName" alt="Img">
                </div>
                <div class="product-cards__name" >
                    @item.ProductName

                </div>
                <div class="product-cards__prices" >
                    SEK @item.Price
                </div>

            </div>
        </div>

     }
</div>
